{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Minia</title>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <div class="page">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'accounts:login_home' %}" class="logo">
                        <img src="{% static 'imgs/logo.png' %}" alt="Logo">
                        <span class="logo-info">MPXV</span>
                    </a></li>
                <li><a href="{% url 'accounts:overview' %}">
                        <i class="ri-home-5-line"></i>
                        <span class="sidebar-item">OverView</span>
                    </a></li>
                <li><a href="{% url 'accounts:admins' %}">
                        <i class="ri-admin-line"></i>
                        <span class="sidebar-item">Admins</span>
                    </a></li>
                <li><a href="{% url 'accounts:doctors' %}">
                        <i class="ri-nurse-line"></i>
                        <span class="sidebar-item">Doctors</span>
                    </a></li>
                <li><a href="{% url 'accounts:users' %}">
                        <i class="ri-user-line"></i>
                        <span class="sidebar-item">Users</span>
                    </a></li>
                <li><a href="{% url 'accounts:add_admin' %}">
                        <i class="ri-user-add-line"></i>
                        <span class="sidebar-item">Add Admin</span>
                    </a></li>
                <li><a href="{% url 'accounts:edit' request.user.slug %}">
                        <i class="ri-settings-4-line"></i>
                        <span class="sidebar-item">Account Setting
                        </span>
                    </a></li>
            </ul>
        </div>
        <div class="content">
            <div class="head">
                <div class="l-h">
                    <h2>Welcome back, {{request.user.first_name}}</h2>
                    <div class="search-label">
                        <i class="ri-search-line"></i>
                        <input type="text" placeholder="Search..">
                    </div>
                </div>
                <div class="m-h"></div>
                <div class="r-h">
                    <i class="ri-message-3-line mes"></i>
                    <i class="ri-notification-4-line not"></i>
                    <span class="r-h-info">Hello,{{request.user.first_name}}</span>
                    <div class="log-out">
                        <a href="{% url 'logout' %}"><input type="submit" value="Logout" class="logout"/></a>
                    </div>
                </div>
            </div>
            <div class="low-opa-words">
                Here's what's happening with your store today.
            </div>

            {% block content %}
                
            {% endblock content %}
        </div>
            
    </div>
    
        
</body>

</html>