{% load static %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}

  
  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Minia</title>
    <style>
        .asd {
            position: relative;
            border-radius: 10px;
            border: none;
            outline: 0;
            padding: 0 0 0 35px;
            width: 100%;
            height: 50px;
            font-size: 17px;
            margin-bottom: 40px;
            background-color: #f3f4f8;
        }

    </style>
</head>

<body>
    <div class="login">
        <nav style="width: fit-content; margin: 0 auto; ">
            <a href="#">
                <img src="{% static 'imgs/logo.png' %}" alt="Logo" >
            </a>
            <p>MPXV</p>
        </nav>
        <form method="post">
            {% csrf_token %}
        <div class="container">
            <div class="log-text" style="width: fit-content;margin: 0 auto; padding-left: 50px;">
                <h1>Login</h1>
                {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p style="color:red">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p style="color:red">Please login to see this page.</p>
    {% endif %}
  {% endif %}
            </div>
    
            <div class="container-2">
                <div class="l-log" style="min-width: 50%" >
                    <label for="e-address" >Email Address</label>
                    <div class="input-field">
                        {{form.username|as_crispy_field }}
                        {% comment %} class {} {% endcomment %}
                        {% comment %} <input type="email" id="e-address" placeholder="Email Address" required> {% endcomment %}
                        <i class="ri-user-line email-icon"></i>
                    </div>
                    <label for="password">Password</label>
                    <div class="input-field">
                      {{form.password|as_crispy_field }}
                        
                      {% comment %} <input type="password" id="password" placeholder="Password" required> {% endcomment %}
                        {% comment %} <i class="ri-lock-2-line pass-icon"></i>
                        <a href="#" class="forget">Forget Password?</a> {% endcomment %}
                    </div>

                    <i class="ri-eye-off-fill hide-icon"></i>

                    <div class="input-field">
                        <input type="submit" value="Login" class="input-login">
                    </div>
                </div>
            </div>
            <p class="reg" style="display: block;padding-bottom: 25px;text-align: center; margin: 0 auto;font-size: 13px;font-size: medium;"><a href="{% url 'accounts:signup' %}" >
                Already registered?<span>Create An Account</span></a></p>

        </form>
    </div>
                
        
</body>

</html>