{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Minia</title>
    <style>
        .form-check-label{
            color: black
        }
       
    </style>
</head>

<body>
    <div class="sign-up">
        <nav style="width: fit-content; margin: 0 auto;">
            <a href="#">
                <img src="{% static 'imgs/logo.png' %}" alt="Logo">
            </a>
            <p>MPXV</p>
        </nav>
        <div class="log-text" style="width: fit-content; margin: 0 auto;">
            <h1>Create Account</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          
            <div class="col-1 cols">
                <label for="f-name">First Name</label>
                <div class="input-field">
                    {{form.first_name|as_crispy_field }}

                    <i class="ri-user-line email-icon"></i>
                </div>
                <div  style="min-height: fit-content;">
                <label for="address">User Name</label>

                    <div class="input-field">
                        {{form.username|as_crispy_field }}
                    </div>
                </div>
                <label for="e-address">Email Address</label>
                <div class="input-field">
                    {{form.email|as_crispy_field }}
                    
                    <i class="ri-shield-user-line"></i>
                </div>
                <label for="password">Password</label>
                <div class="input-field">
                    {{form.password1|as_crispy_field }}
                    
                    <i class="ri-lock-2-line pass-icon"></i>
                </div>
                <i class="ri-eye-off-fill hide-icon"></i>
                <div class="input-field upload" style="padding-top: 65px;">
                    {{form.image|as_crispy_field }}
                    
                    <i class="ri-links-line up-link"></i>
                </div>

            </div>
            <div class="col-2 cols">
                <label for="l-name">Last Name</label>
                <div class="input-field">
                    {{form.last_name|as_crispy_field }}
                    
                    <i class="ri-user-line email-icon"></i>
                </div>
                <label for="address">Address</label>
                <div class="input-field">
                    {{form.address|as_crispy_field }}
                    
                    <i class="ri-home-4-line"></i>
                </div>
                <label for="password">Confirm Password</label>
                <div class="input-field">
                    {{form.password2|as_crispy_field }}
                    
                    <i class="ri-lock-2-line pass-icon"></i>
                </div>
                <i class="ri-eye-off-fill hide-icon"></i>

                <label for="age" class="age">Age</label>
                <div class="input-field">
                    {{form.age|as_crispy_field }}

                    <i class="ri-user-line email-icon"></i>
                </div>

            </div>
          
            <div class="radios" style="display: flex; align-items: center;">
                <p>Are You:</p>
                <div>
                    {{form.is_admmin|as_crispy_field }}

                    
                </div>
                <div>

                    {{form.is_doctor|as_crispy_field }}

                  
                </div>
                <div>

                    {{form.is_user|as_crispy_field }}


                </div>
            </div>
        </div>
        <div class="register-field">
            <input type="submit" value="Register" class="register">
        </div>
      </form>
        <div class="last-p">Already registered? <a href ="{% url 'accounts:login' %}">Log In.</a></div>
    </div>
</body>

</html>