{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Minia</title>
</head>

<body>
    <div class="about">
        <div class="container">
            <div class="heading">
                <h1>About Us</h1>
            </div>
            <div class="sec">
                <div class="r-sec">
                    <h1>Monkeypox Diagnosis <br> (MPXV)
                    </h1>
                    <p class="monkey">
                        Monkeypox is an illness caused by the monkeypox virus. It can also spread from humans to other
                        humans through close contact with someone who has a monkeypox rash. Close contact can mean being
                        face-to-face .
                    </p>
                    <p class="read">Read More</p>
                </div>
                <div class="l-sec">
                    <img src="{% static 'imgs/p4.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>