{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet" />
    <title>Minia</title>
    <style>
      a:hover {
        color: #0462ad;
      }
    </style>
  </head>

  <body>
    <!-- Start Header -->
    <div class="header">
      <div
        class="container"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        ">
        <a href="{% url 'home' %}" class="logo">
          <img src="{% static 'imgs/logo.png' %}" alt="Logo" />
        </a>
        <nav
          style="
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
          ">
          <i class="ri-menu-3-line"></i>
          <ul style="display: flex">
            <li>
              <a
                style="
                  color: black;
                  padding: 30px 20px;
                  font-size: 16px;
                  transition: 0.3s;
                  position: relative;
                  font-weight: 500;
                "
                class="active"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>
            <li>
              <a
                style="
                  color: black;
                  padding: 30px 20px;
                  font-size: 16px;
                  transition: 0.3s;
                  position: relative;
                  font-weight: 500;
                "
                href="{% url 'about' %}"
                >About Us</a
              >
            </li>
            <li>
              <a
                style="
                  color: black;
                  padding: 30px 20px;
                  font-size: 16px;
                  transition: 0.3s;
                  position: relative;
                  font-weight: 500;
                "
                href="{% url 'services' %}"
                >Services</a
              >
            </li>
            <li>
              <a
                style="
                  color: black;
                  padding: 30px 20px;
                  font-size: 16px;
                  transition: 0.3s;
                  position: relative;
                  font-weight: 500;
                "
                href="{% url 'product' %}"
                >Our Team</a
              >
            </li>
            <li>
              <a
                style="
                  color: black;
                  padding: 30px 20px;
                  font-size: 16px;
                  transition: 0.3s;
                  position: relative;
                  font-weight: 500;
                "
                href="{% url 'contact:contact' %}"
                >Contact Us</a
              >
            </li>
          </ul>
          <div class="btn">
            {% if request.user.is_authenticated %}

            <a role="button" href="{% url 'logout' %}"
              ><button class="btn1">logout</button></a
            >
            {% else %}
            <a href="{% url 'login' %}"><button class="btn1">Login</button></a>
            <a href="{% url 'accounts:signup' %}"
              ><button class="btn2">Register</button></a
            >
            {% endif %}
          </div>
        </nav>
      </div>
    </div>
    <!-- End Header -->
    <!-- Start Landing -->
    {% block content %}
    <div class="landing">
      <img src="{% static 'imgs/p4.png' %}" alt="" />
    </div>
   
    <!-- End Landing -->
    <!--about Us -->
    <div class="about" style="margin-top: 10px;">
        <div class="container">
            <div class="heading">
                <h1>About Us</h1>
            </div>
            <div class="sec">
                <div class="r-sec">
                    <h1>Monkeypox Diagnosis <br> (MPXV)
                    </h1>
                    <p class="monkey">
                        Monkeypox is an illness caused by the monkeypox virus. It can also spread from humans to other
                        humans through close contact with someone who has a monkeypox rash. Close contact can mean being
                        face-to-face .
                    </p>
                </div>
                <div class="l-sec">
                    <img src="{% static 'imgs/p4.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="container">
            <div class="heading">
                <h1>Our Services</h1>
            </div>
            <div class="text">
                There are many variations of passages of lorem ipsum available, but the majority have suffered
                alteration in some form, by injected human, or randomized words
            </div>
            <div class="content">
                <img src="{% static 'imgs/p3.png' %}" alt="">
                <h3>Monkeypos Diagnosis</h3>
                <p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected human, or randomized words
                </p>
                <p class="read-ser">Read More</p>
            </div>
        </div>
    </div>
    <div class="our-team">
        <div class="heading">
          <h1>Our Team</h1>
        </div>
        <div class="container">
          <div class="left">
            <div class="test">
              <div class="person-img">
                <img src="{% static 'imgs/Marwa.png' %}" alt="" />
              </div>
              <div class="info-1">
                <h3>Marwa Gamal</h3>
                <p>Front-end developer</p>
                <div class="icons">
                  <i class="ri-linkedin-box-fill"></i>
                  <i class="ri-facebook-box-fill"></i>
                  <i class="ri-twitter-fill"></i>
                </div>
              </div>
            </div>
            <div class="test">
              <div class="person-img">
                <img src="{% static 'imgs/Asmaa.png' %}" alt="" />
              </div>
              <div class="info-1">
                <h3>Asmaa Gamal</h3>
                <p>Front-end developer</p>
                <div class="icons">
                  <i class="ri-linkedin-box-fill"></i>
                  <i class="ri-facebook-box-fill"></i>
                  <i class="ri-twitter-fill"></i>
                </div>
              </div>
            </div>
            <div class="test">
              <div class="person-img">
                <img src="{% static 'imgs/sara.png' %}" alt="" />
              </div>
              <div class="info-1">
                <h3>Sara Mohammed</h3>
                <p>Machine Learning</p>
                <div class="icons">
                  <i class="ri-linkedin-box-fill"></i>
                  <i class="ri-facebook-box-fill"></i>
                  <i class="ri-twitter-fill"></i>
                </div>
              </div>
            </div>
            <div class="test">
              <div class="person-img">
                <img src="{% static 'imgs/mohammed.png' %}" alt="" />
              </div>
              <div class="info-1">
                <h3>Mohammed Bahaa</h3>
                <p>Front-end developer</p>
                <div class="icons">
                  <i class="ri-linkedin-box-fill"></i>
                  <i class="ri-facebook-box-fill"></i>
                  <i class="ri-twitter-fill"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="test">
              <div class="person-img">
                <img src="{% static 'imgs/aliaa.png' %}" alt="" />
              </div>
              <div class="info-1">
                <h3>Aliaa Mohammed</h3>
                <p>Front-end developer</p>
                <div class="icons">
                  <i class="ri-linkedin-box-fill"></i>
                  <i class="ri-facebook-box-fill"></i>
                  <i class="ri-twitter-fill"></i>
                </div>
              </div>
            </div>
            <div class="test">
              <div class="person-img">
                <img src="{% static 'imgs/roqaya.png' %}" alt="" />
              </div>
              <div class="info-1">
                <h3>Roqaya Hamdy</h3>
                <p>Front-end developer</p>
                <div class="icons">
                  <i class="ri-linkedin-box-fill"></i>
                  <i class="ri-facebook-box-fill"></i>
                  <i class="ri-twitter-fill"></i>
                </div>
              </div>
            </div>
            <div class="test">
              <div class="person-img">
                <img src="{% static 'imgs/reem.png' %}" alt="" />
              </div>
              <div class="info-1">
                <h3>Reem Hassan</h3>
                <p>Machine Learning</p>
                <div class="icons">
                  <i class="ri-linkedin-box-fill"></i>
                  <i class="ri-facebook-box-fill"></i>
                  <i class="ri-twitter-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="contact-us">
        <div class="heading">
            <h1>Contact Us</h1>
        </div>
        <div class="container">
            <form action="">
                <div class="half">
                    <div class="item">
                        <label for="name">Name :</label>
                        <input type="text" id="name" placeholder="Enter Your Name...">
                    </div>
                    <div class="item">
                        <label for="title">Title :</label>
                        <input type="text" id="title" placeholder="Enter Your Title...">
                    </div>
                </div>
                <div class="full">
                    <label for="contact">Contact :</label>
                    <textarea name="" id="contact"></textarea>
                </div>
                <div class="action">
                    <input type="submit" value="Submit">
                </div>
                <div class="subscribe">
                    Subscribe to our Website
                </div>
                <div class="email">
                    <input type="email" id="email" class="email-1" placeholder="Enter Your Email...">
                </div>
                <div class="icons">
                    <i class="ri-linkedin-box-fill"></i>
                    <i class="ri-facebook-box-fill"></i>
                    <i class="ri-twitter-fill"></i>
                </div>
            </form>
        </div>
    </div>

    <!-- latest doesn't exist in your code bro
    <div className="latest-news">
        <div className="heading">
            <h1>Latest News</h1>
        </div>
         <div className="container">
            <div className="box-1">
                <img src="p5.png" alt="" className='img1'/>
                <div className="info">
                    <p>Precautions to avoid getting sick Reduce your risk of catching monkeypox from other people by
                        limiting close contact with people who have affected monkeypox.<br/><span>
                        Clean your hands frequently with soap and water or an alcohol. </span><br/>Frequently clean and
                        disinfect
                        commonly touched surfaces in the environments that could have been contaminated with the virus
                        from
                        someone who is infectious.
                    </p>

                </div>
            </div>
            <div className="box-2">
                <img src="p6.png" alt=""/>
                <div className="info">
                    <p>Precautions to avoid getting sick Reduce your risk of catching monkeypox from other people by
                        limiting close contact with people who have affected monkeypox.<br/><span>
                        Clean your hands frequently with soap and water or an alcohol. </span><br/>Frequently clean and
                        disinfect
                        commonly touched surfaces in the environments that could have been contaminated with the virus
                        from
                        someone who is infectious.
                    </p>

                </div>
            </div>
            <div className="box-3">
                <img src="p5.png" alt="" className='img3'/>
                <div className="info">
                    <p>Precautions to avoid getting sick Reduce your risk of catching monkeypox from other people by
                        limiting close contact with people who have affected monkeypox.<br/><span>
                        Clean your hands frequently with soap and water or an alcohol. </span><br/>Frequently clean and
                        disinfect
                        commonly touched surfaces in the environments that could have been contaminated with the virus
                        from
                        someone who is infectious.
                    </p>

                </div>
            </div>
        </div> 
    </div>-->
    
    
    
    
    {% endblock content %}
  </body>
</html>